<h1 class="text-center mb-3">{{title}}</h1>
<h4>Sign Up</h4>
<form action="/api/members" method="POST" class="mb-4">

    <div class="form-group">
        <label for="name"> Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="email"> Email</label>
        <input type="email" name="email" class="form-control">
    </div>
    <input type="submit" value="Add Member" class="btn btn-primary btn-block">
</form>
<h4>Login</h4>
<form action="/login" method="POST" class="mb-4">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form action="/list" method="GET" class="mb-4">
  <div class="form-group">
    <label for="userId">Example label</label>
    <input type="text" class="form-control" name="userId" placeholder="Example input">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
<h4>Members</h4>
 
<ul class="list-group">
    {{#each members}}
    <li class="list-group-item">{{this.name}}: {{this.email}}</li>
    {{/each}}
</ul>

